.home-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.left-section,
.right-section {
  flex: 1 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.left-section {
  background: linear-gradient(to right, var(--main-color), #a8e063);
  color: var(--secondary-color);
  text-align: center;
  overflow: hidden;
}

.branding .logo {
  max-width: 100px;
  /* Csökkentve az alsó margót */
  margin-bottom: 0.5rem;
}

.app-name {
  font-size: 2.5rem;
  /* Hozzáadva felső és alsó margó */
  margin: 0.5rem 0;
}

.features {
  /* Csökkentve a felső margót */
  margin-top: 1rem;
}

.features-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.features-list {
  list-style: none;
  padding: 0;
}

.features-list li {
  font-size: 1.2rem;
  /* Csökkentve a listaelemek közötti margót */
  margin: 0.3rem 0;
}

.right-section {
  background: var(--secondary-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  max-width: 400px;
  width: 100%;
  padding: 1.5rem; /* Csökkentve a padding-et */
  text-align: center;
}

.login-form input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.3rem 0; /* Csökkentve a margin-t */
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  font-size: 1rem;
}

.login-button {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--main-color);
  border: none;
  color: var(--secondary-color);
  font-size: 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-top: 0.8rem; /* Csökkentve a felső margót */
  transition: background 0.3s;
}

.login-button:hover {
  background-color: #27ae60;
}

.signup-text {
  margin-top: 0.8rem; /* Csökkentve a margót */
  font-size: 0.9rem;
}

.signup-text a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
}

.signup-text a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    padding: 1rem;
    text-align: center;
  }

  .features-list li {
    font-size: 1rem;
  }
}
