.login-container {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* Eltávolítva a display: flex és a magasság beállításokat */
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  color: #333;
  /* Hozzáadva padding a tartalom elválasztásához */
  padding: 1rem 0;
}

.login-page {
  width: 100%;
  max-width: 400px;
  /* Középre igazítás */
  margin: 0 auto;
  padding: 0 20px;
}

.login-card {
  background: white;
  border-radius: 15px;
  padding: 20px; /* Csökkentve a padding-et */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-card h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #2ecc71;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Csökkentve a gap-et */
}

.login-form input {
  padding: 10px; /* Csökkentve a padding-et */
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.login-form input:focus {
  outline: none;
  border-color: #2ecc71;
}

.login-button {
  width: 100%;
  padding: 0.6rem; /* Csökkentve a padding-et */
  background-color: var(--main-color);
  border: none;
  color: var(--secondary-color);
  font-size: 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-top: 0.8rem; /* Csökkentve a margót */
  transition: background 0.3s;
}

.login-button:hover {
  background-color: #27ae60;
}

.divider {
  margin: 15px 0; /* Csökkentve a margót */
  display: flex;
  align-items: center;
  gap: 10px;
  color: #aaa;
  font-size: 0.9rem;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #ddd;
}

.google-login-button {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: white;
  border: 1px solid #ddd;
  padding: 8px; /* Csökkentve a padding-et */
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.google-login-button img {
  width: 20px;
  height: 20px;
}

.google-login-button:hover {
  background-color: #f5f5f5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.switch-form p {
  margin-top: 15px; /* Csökkentve a margót */
  font-size: 0.9rem;
}

.switch-form a {
  color: #2ecc71;
  text-decoration: none;
  font-weight: bold;
}

.switch-form a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .login-card {
    width: 90%;
    padding: 20px;
  }
}
