.sign-up-page {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, var(--main-color), #a8e063);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.auth-page {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.auth-card {
  background: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-card h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #2ecc71;
}

.auth-message {
  margin-bottom: 20px;
  color: #555;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.auth-form input:focus {
  outline: none;
  border-color: rgb(51, 139, 147);
}

.auth-button {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--main-color);
  border: none;
  color: var(--secondary-color);
  font-size: 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-top: 0.8rem;
  transition: background 0.3s;
}

.auth-button:hover {
  background-color: #27ae60;
}

.switch-form p {
  margin-top: 10px;
  font-size: 0.9rem;
}

.switch-form a {
  color: rgb(51, 139, 147);
  text-decoration: none;
  font-weight: bold;
}

.switch-form a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .login-card {
    width: 90%;
    padding: 20px;
  }
}
